{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube Downloader</title>
    <link rel="stylesheet" href="{% static "./style.css" %}">
</head>
<body>
    <div class="main">
        <!-- START title -->
        <div class="title">
            <img src="{% static "./image/youtube-icon-logo-7.png" %}" alt="">
            <h1 class="h1">Youtube Downloader</h1>
        </div><!--END title-->

        <!-- start card -->
        <div class="card">
            <h2 class="Links">Please Enter Your Youtube Link</h2>
            <form method="POST">
                {% csrf_token %}
                <input class="text" type="text" placeholder="Enter Your Link" name="url">

                <div class="vedio div" >
                    
                    <select name="video" id="video" class="select">
                        <option value="1080p50">1080p50</option>
                        <option value="720p">720p50</option>
                        <option value="480p">480p</option>
                        <option value="360p">360p</option>
                        <option value="audio">Audio</option>
                    </select>
                </div><!--vedio div-->

                <button class="submit download" type="submit">Download</button>
            </form> <!--form end-->

            <!-- start logo img -->
            <div class="image">
                <img src="{% static "./image/IMG-20230201-WA0029.jpg" %}" alt="">
            </div><!--image end-->

        </div><!--card end-->
        
    </div><!--main end-->
</body>
</html>